<!DOCTYPE html>
<html>
  <head>
    <title>Teachable Machine Example</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>Teachable Machine Example</h1>
    <form id="predict-form">
      <input type="file" id="image-input" />
       <button type="submit">Predict</button>
</form>
<div id="prediction"></div>
<script src="/script.js"></script>
</body>
</html>
